html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111; /* dark background */
  font-size: 45px;
  font-family: sans-serif;
  color:white;
}

.container {
  width: 100%;
  height: 100%;
  background: #baf2b2;
  border: 5px solid green;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ================= TOP SECTION ================= */
.TopSection {
  flex: 1;
  border: 5px solid blue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #cceeff;
}

.TopBox {
  flex: 1;
  background: peachpuff;
  border: 5px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopPeachBox {
  flex: 1;
  background: peachpuff;
  border: 5px solid salmon;
  display: flex;                /* flex to hold inner boxes */
  justify-content: center;
  align-items: center;
  gap: 10px;                    /* space between Bradley & Manalese */
  padding: 10px;
}

.TopInnerBox {
  flex: 1;
  border: 5px solid red;
  background: lightpink;
  padding: 60px;

  display: flex;
  justify-content: center;      /* center text horizontally */
  align-items: center;          /* center text vertically */
  font-weight: bold;
}

.TopInnerBox p {
  margin: 0;
  flex: 1;
  text-align: center;
  font-weight: bold;
}

/* ================= MIDDLE SECTION ================= */
.middle-box {
  flex: 2;
  display: flex;
  gap: 10px;
}

.MiddleLeft {
  flex: 2;
  background: lightpink;
  border: 5px solid brown;

  display: flex;
  justify-content: center;
  align-items: center;
}

.MiddleRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MiddleRightBox {
  flex: 1;
  background: lightpink;
  border: 5px solid brown;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= BOTTOM SECTION ================= */
.bottom-box {
  flex: 1;
  border: 5px solid blue;
  padding: 10px;
  display: flex;
  gap: 10px;
  background: #cceeff;
}

.BottomSide {
  flex: 1;
  border: 5px solid rgb(96, 96, 126);
  background: lavender;

  display: flex;
  justify-content: center;
  align-items: center;
}

.BottomCenter {
  flex: 2;
  display: flex;
  gap: 10px;
}

.BottomCenterBox {
  flex: 1;
  border: 5px solid salmon;
  background: peachpuff;

  display: flex;
  justify-content: center;
  align-items: center;
}
